<form name="product-form" ng-submit="controller.save()">
  <div class="form-group">
    <label for="product-name">Product Name</label>
    <input class="form-control" id="product-name" ng-model="controller.product.name"/>
  </div>
  <div class="form-group">
    <label for="product-price">Product Price</label>
    <input class="form-control" id="product-price" type="number" step="0.01"
           ng-model="controller.product.price"/>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>